img {
  width: 60vw;
  margin-left: 15vw;
  margin-right: 15vw;
}
h1 {
  text-align: center;
  color: white;
}
body {
  background-color: black;
}

p {
  color: white;
  text-align: center;
  font-size: larger;
}

img:hover {
  width: 65vw;
}
